header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4eda4;
  padding: 20px;
}

header div {
  margin-right: 10px;
}

header div:last-child {
  margin-right: 0;
}

header a {
  text-decoration: none;
  color: #999;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
}

header a:hover {
  background-color: #dbb330;
  color: #ffffff;
  
}