.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-button {
    background-color: #f4eda4;
    color: #2f2f2f;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }